.bgHeader{
    background-color:#000;
}

#header{
    border:solid 0px #fff; /*reset*/
    border-bottom: solid 1px #EEEEEE;
    border-bottom-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0px;
    font-size:12px;
    height: 75px;
    padding: 4px 0;
    position: relative;
}

#logo {
    text-align: left;
    width: 30%;
    padding-left: 10px;
    position: absolute;
}


#top-menu{
    height:129px;
    overflow: hidden;
    padding-right:0px;
    position: absolute;
    right:0px;
    top: 15px;
    width:350px;
}

.circularProfileImage{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border:solid 3px #0033DA;
}

#fbbutton{
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 15px Verdana, sans-serif;
}